// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bd-placeholder-img-lg {
    @media (min-width: 768px) {
        font-size: 3.5rem;
    }
}
.bio img,
.presentation img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    width: 45%;
    margin-bottom: 0.5em;
    margin-right: 1.75em;
    float: left;

    @media (min-width: 576px) {
        width: 95%;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
        float: left;
    }
}

.presentation {
    padding: 0 2em;
    margin-bottom: 1.5em;
    margin-top: 2em;

    img {
        width: 40%;
    }

    p {
        text-align: justify;
        line-height: 1.75;
    }

    h2 {
        margin-bottom: 1em;
    }
}

.card {
    margin-bottom: 0em;
    padding: 1em;
    border: 0;

    h5 {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        padding-right: 1em;
        padding-left: 1em;
    }
}

.card-img-top:hover,
.bio img {
    border: 2px solid white;
}
table thead {
    display: none;
}
h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h2 {
    color: #0e5b42;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    text-align: center;
    font-size: 2em;
    /* margin-top: 0;
  margin-bottom: 0.5em; */
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}
.row,
form,
.collapse,
.presentation {
    max-width: 1200px;
    margin: 0 auto;
}

.department-image {
    max-width: 100%;
    width: 100%;
    height: 500px;

    @media screen and (max-width: 576px) {
        height: 300px;
    }

    @media screen and (max-width: 320px) {
        height: 200px;
    }
}

.navbar li {
    margin-left: 2em;
    font-size: 1.25em;
}
main {
    position: relative;
    padding-bottom: 1em;
}

.add-btn {
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 100;
}
.container,
.header {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0 !important;
}
.current-user {
    position: absolute;
    top: 1%;
    right: 48%;
    z-index: 100;
    color: white;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        top: 2.5%;
        display: none;
    }
}
.header {
    padding: 0;
    position: relative;
}

.testimonial {
    padding-bottom: 1.5em;
    background-color: white;
    color: black;
    margin-right: 0.15em;
    text-align: justify;

    h4,
    h5 {
        text-align: center;
    }

    img {
        margin-left: 40%;
        max-width: 100%;
        width: 20%;
    }
}

.documents li {
    text-align: justify;
}
.department {
    position: absolute;
    color: white;
}
.card-img-top {
    max-width: 100%;
    height: 250px;
}

.depart-header {
    top: 15%;
    left: 30%;
    font-size: 5em;

    @media screen and (max-width: 320px) {
        left: 5%;
        font-size: 2.5em;
    }

    @media screen and (max-width: 1110px) {
        left: 20%;
        font-size: 4em;
    }
}

.depart-desc {
    top: 45%;
    left: 35%;
    font-size: 3em;

    @media screen and (max-width: 576px) {
        top: 50%;
        left: 35%;
        font-size: 2em;
    }
    @media screen and (max-width: 320px) {
        top: 60%;
        left: 35%;
        font-size: 2em;
    }
}
.front {
    color: green;
}
.main-title,
h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.news-article {
    margin: 1.25em;
    background-color: lightgray;
    padding-bottom: 1em;
    padding-top: 1em;

    h5 {
        color: #3232c4;
    }

    .info-desc {
        display: none;
    }
    &:hover .info-desc {
        display: block;
    }
}

.special-img {
    max-width: 100%;
    width: 30%;
    height: 70px;

    @media screen and (max-width: 576px) {
        width: 90%;
    }
}
td {
    width: 32%;
    @media screen and (max-width: 768px) {
        width: 50%;
    }
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.nav-top {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #11a842;
}
.logo-login {
    a {
        color: white;
    }

    li {
        display: inline-block;
        text-decoration: none;
        margin-left: 1em;
    }
}
footer {
    background-color: #343a40;
    color: white;
    padding-top: 2em !important;
    padding-bottom: 1.5em !important;

    li {
        list-style: none;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        color: white;
        a {
            color: rgba(255, 255, 255, 0.8);

            &:hover {
                color: #007bff;
            }
        }
    }
}

.no-data {
    color: red;
    text-align: center;
}

main form .row {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

/* GLOBAL STYLES
    -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;

    p {
        @media (min-width: 40em) {
            /* Bump up size of carousel content */

            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
    }
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    & > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }
}

/* MARKETING CONTENT
    -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
        p {
            margin-right: 0.75rem;
            margin-left: 0.75rem;
        }
    }
    h2 {
        font-weight: 400;
    }
}

/* Featurettes
    ------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;

    @media (min-width: 62em) {
        margin-top: 7rem;
    }
    @media (min-width: 40em) {
        font-size: 50px;
    }
}

/* RESPONSIVE CSS
    -------------------------------------------------- */

.row,
form {
    @media screen and (max-width: 1110px) {
        margin-right: 2em;
        margin-left: 2em;
    }
}

.depart-header {
    @media screen and (max-width: 768px) {
        left: 5%;
    }

    @media screen and (max-width: 576px) {
        left: 10%;
        font-size: 3em;
    }
}
.lg-visible {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.md-visible {
    @media screen and (max-width: 576px) {
        display: none;
    }
}

