.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bio img, .presentation img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    width: 45%;
    margin-bottom: 0.5em;
    margin-right: 1.75em;
    float: left;
}

.presentation img {
    width: 40%;
}

.card {
    margin-bottom: 1em;
    padding: 1em;
    border: 0;
}

.card-img-top:hover,.bio img {
    border: 2px solid white;
}

h1,
h2 {
    text-align: center;
}

.row,
form,.collapse, .presentation {
    max-width: 1200px;
    margin: 0 auto;
}

.department-image {
    max-width: 100%;
    width: 100%;
    height: 500px;
}
.presentation p{
 text-align: justify;
 line-height: 1.75;
 
}
.presentation{
   padding: 0 2em;
    margin-bottom: 0.5em;
}
.navbar li{
   margin-left:2em;
   font-size: 1.25em;
}

.container,
.header {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0 !important;
}

.header {
    padding: 0;
    position: relative;
}

.department {
    position: absolute;
    color: white;
}
.card-img-top {
    max-width: 100%;
    height: 250px;
}
.card h5{
    text-align: center;
}
.depart-header {
    top: 15%;
    left: 30%;
    font-size: 5em;
}

.depart-desc {
    top: 45%;
    left: 35%;
    font-size: 3em;
}
.front{
    color:green;
}

.main-title, h4{
    margin-top:1em;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    margin-top: 1em;
}
.nav-top{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
.logo-login a{
   color:white;
}
.logo-login li{
    display:inline-block;
    text-decoration: none;
    margin-left: 1em;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* GLOBAL STYLES
      -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
      -------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* MARKETING CONTENT
      -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/* Featurettes
      ------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
      -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media screen and (max-width: 1110px) {
    .depart-header {
        left: 20%;
        font-size: 4em;
    }

    .row,
    form {
        margin-right: 2em;
        margin-left: 2em;
    }
}

@media screen and (max-width: 768px) {
    .lg-visible {
        display: none;
    }

    .card {
        padding-right: 1em;
        padding-left: 1em;
    }

    .depart-header {
        left: 5%;
    }
}

@media screen and (max-width: 576px) {
    .depart-header {
        left: 10%;
        font-size: 3em;
    }

    .bio img, .presentation img {
        width: 95%;
        margin-bottom: 2.5%;
        margin-right: 2.5%;
        float: left;
    }

    .md-visible {
        display: none;
    }

    .depart-desc {
        top: 50%;
        left: 35%;
        font-size: 2em;
    }

    .department-image {
        height: 300px;
    }
}

@media screen and (max-width: 320px) {
    .depart-header {
        left: 5%;
        font-size: 2.5em;
    }

    .department-image {
        height: 200px;
    }

    .depart-desc {
        top: 60%;
        left: 35%;
        font-size: 2em;
    }
}
